body {
  background: rgb(212, 211, 211);
  color: #fff;
}

#error404 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
  margin-top: -30px;
}

.error404 {
  width: 40%;
}