#page-mdp-reset{
    margin-top: 76px;
    display: flex;
    padding-top: 150px;
}

#txt-titre-reset, #txt-para-reset{
    color: white;
}

#img-mdp-reset{
    width: 50%;
}

#img-mdp-reset-container{
    width: 70%;
    margin: auto;
}

#txt-mdp-reset{
    width: 50%;
    text-align: center;
}

.input-mdp-reset{
    width: 70%;
    margin: auto;
}
