.form-change {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page-mdp-change {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 40px;
    padding: 40px 0 20px 0;
}

#img-mdp-change {
    width: 30%;
}

#txt-mdp-change {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#txt-titre-change {
    color: #fff;
    position: absolute;
    top: 80px;
    right: 175px;
    /* margin: 0; */
}

#contrainte1change, #contrainte2change, #contrainte3change, #contrainte4change, #contrainte5change, #contrainte6change {
    color: #fff;
    /* margin-left: 50px; */
}

#contrainte1changeimg, #contrainte2changeimg, #contrainte3changeimg, #contrainte4changeimg, #contrainte5changeimg, #contrainte6changeimg {
    margin-right: 13px;
}

#contraintechange {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: -6px;
    color: #fff;
}

#contrainte6change {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -6px;
    margin-left: 13px;
    margin-bottom: 35px;
}

#contrainte6changeimg {
    margin-right: 10px;
}

.input-mdp-change {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.fa-check {
    width: 3%;
    color: #fff;
}

.fas {
    width: 3%;
}

.change {
    width: 80%;
}

.test {
    margin-left: 12px;
}

@media only screen and (max-width: 420px) {
    #page-mdp-change {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    #img-mdp-change {
        width: 0%;
    }

    #txt-titre-change {
        font-size: 29px;
        text-align: center;
        margin: 0 27px;
    }

    .input-mdp-change {
        width: 100%;
    }

    #contraintechange {
        margin-top: 0;
    }

    #contrainte6change {
        margin-top: 0;
        margin-left: 0;
        /* margin-left: 13px;
        margin-bottom: 35px; */
    }

    #contrainte6changeimg {
        margin-right: 2px;
        /* margin-left: 13px;
        margin-bottom: 35px; */
    }

    /* #contrainte1change, #contrainte2change, #contrainte3change, #contrainte4change, #contrainte5change, #contrainte6change {
        margin-right: 10px;
    } */
    .text {
        margin-left: 0;
    }

    #change {
        margin-bottom: 10px;
    }
    /* .footer-container{
        position: relative;
    } */
}