/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}



/* ========================== FONT ========================== */
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

@font-face {
  font-family: shaggy;
  src: url(../font/Muli-1GDlj.ttf);
  /* font-weight: bold; */
}

/* ========================== BODY ========================== */
body {
  background-image: url(../img/web-network.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Cabin', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* .bg-img {
  background-image: url(../img/web-network.jpg);
  background-repeat: no-repeat;
  background-size: cover;
} */

/* ========================== HEADER ========================== */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  z-index: 999;
  transition: all 0.2s ease-in-out;
  height: auto;
  background-color: transparent;
  /* background-color:#272A5F;   */

}

.header-container.active {
  background: #272A5F;
}
.header-left{
  width: 30%;
}
.img-header {
  width: 100%;
}

.header-center{
  margin-right: 200px;
  margin-top: 10px;
}
.hello {
  color: #fff!important;
  /* padding: 10px 90px; */
  /* margin-right: 100px; */
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
}

.fa-user-circle {
  color: #fff;
  font-size: 50px;
  margin: 15px 20px 0 0;
}

.img-header:hover, .fa-user-circle:hover {
  cursor: pointer;
}

.page-id-3 {
  background-color: #272A5F;
}

/* =============================== DROPDOWN =============================== */

.menu {
  display: none;
  position: absolute;
  min-width: 160px;
  /* box-shadow: 0px 5px 5px 0px #F5C72F; */
  padding: 12px 16px;
  z-index: 1;
  right: 30px;
  top: 40px;
  border-radius: 10px;
  background-color: #272A5F;
  color: #fff;
}

.title-menu {
  font-size: 20px;
  margin-bottom: 5px;
}

.li a {
  color: #fff;
  text-decoration: none;
}

.li a:hover {
  color: #fff;
  text-decoration: none;
}

.ul {
  list-style-type: none;
  padding: 0 35px 0 0;
}

.li {
  margin-bottom: 3px;
}


a.fancy, a.fancy:visited {
  text-decoration: none;
  background-image:
    linear-gradient(transparent 2px,
      rgba(221, 65, 144, 1) 50%,
      rgba(221, 65, 144, 0) 100%,
      transparent 4px);
  background-size: 0% 6px, 100% 6px;
  background-position: 0 bottom, 0 bottom;
  transition: background-size 0.3s ease-in-out;
  background-repeat: no-repeat;
  padding-bottom: 4px;
  border-bottom: 6px solid transparent;
}

/* background: linear-gradient(90deg, rgba(221, 65, 144, 1) 50%, rgba(221, 65, 144, 0) 100%);
transition: opacity 300ms ease; */

a.fancy:hover {
  background-size: 100% 6px;
}

@supports (-ms-ime-align:auto) {
  a.fancy, a.fancy:visited {
    background-image:
      linear-gradient(#2ed392, #2ed392),
      linear-gradient(#d8dce9, #d8dce9);
    background-size: 0% 2px, 100% 2px;
    padding-bottom: 2px;
  }

  a.fancy:hover {
    background-size: 100% 2px;
  }
}

/* ========================== MAIN ========================== */
/* main{
  padding-bottom: 40px;
} */
.top-body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 490px;
}

.body-title {
  font-size: 50px;
  text-align: center;
  color: #fff !important;
}

.middle-body {
  background-color: #272A5F;
  color: #fff;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-top: 100px;
  height: 900px;
  padding: 100px 20px 0;
}

.title-services {
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: 40px;
}

.text-services {
  font-size: 30px;
  text-align: center;
  padding: 40px;

}

.img-middle-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  /* padding-left: 100px;
  padding-right: 100px; */
  width: 100%;
  /* padding: 0 40px 40px; */
}

.img-middle-left, .img-middle-center, .img-middle-right {
  width: 20%;
}


/* #map {
  height: 100%;
} */

.iframe-maps iframe {
  position: relative;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 800px;
}

.container {
  margin-top: 40px;
}

/* CONTACT =========================================================== */

/* .wrap-contact {
  max-width: 1600px;
  width: 100%;
  margin: 16% auto;
  font-size: 1em;
} */

.container-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  color: #fff !important;
  font-family: shaggy;
}

.box {
  line-height: 1.5;
}

.title-contact {
  font-weight: 900;
  font-size: 3.25em;
  margin-bottom: 60px;
  /* text-shadow: 2px 3px 0px #898999; */
  line-height: 1.2;
  color: #fff !important;
}

.top-text {
  width: 100%;
  margin-bottom: 40px;
}

.text-box {
  margin-bottom: 38.5px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.bottom-text {
  width: 30%;
}

.linktext {
  margin-bottom: 37px;
}

/* .container-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5%;
} */

.container-contact a {
  text-decoration: none;
  color: #fff;
}

/* 
.container-contact img {
  width: 50%;
} */

/* .color {
  color: #fff;
} */


/* ======================================== ABOUT US ======================================== */
/* .aboutus {
  margin: 50px;
  padding: 50px;
} */

.about-title {
  /* padding: 30px; */
  margin: 82px 0 10px;
  color: #fff !important;
  /* background-color: #bbb9b9; */
}

/* .about-title{
  font-size: 40px;
} */
.text {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.about-para {
  text-align: justify;
  padding: 0 20px;
  margin-bottom: 50px auto;
}

.img-slides {
  margin: 0 10px;
  width: 10%;
}

/* ======================================== FOOTER ======================================== */

footer{
  margin-top: auto;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0;
  background-color: #272A5F;
  color: #fff;
  height: 80px;
  width: 100%;
}

.copy-little {
  font-size: 18px;

}

.footer-right {
  display: flex;
  justify-content: space-between;
  width: 15%;
}

.linkfooter {
  text-decoration: none;
  color: #fff;
}

.linkfooter:hover {
  text-decoration: none;
  color: #fff;
}



.fab {
  font-size: 25px;
}

.fab:hover {
  cursor: pointer;
}

.fa-instagram:hover {
  color: #DD2A7B;
}

.fa-facebook-f:hover {
  color: #3b5998;
}

.fa-twitter:hover {
  color: #1DA1F2;
}

.fa-linkedin-in:hover {
  color: #0e76a8;
}


/* ======================================= RESPONSIVE ======================================= */
@media only screen and (max-width: 1372px) {
  .body-title {
    font-size: 40px;
  }
}

@media only screen and (max-width: 1280px) {
  .title-services {
    font-size: 45px;
  }

  .text-services {
    font-size: 25px;
  }

  .top-body {
    height: 380px;
  }

  .fa-user-circle {
    margin-bottom: 13px;
    font-size: 45px;
  }

  .menu {
    right: 45px;
    top: 50px;
  }

  header {
    height: 13px;
  }
}

@media only screen and (max-width: 1050px) {
  .body-title {
    font-size: 35px;
  }

  /* .img-middle-body{
    display: flex;
    flex-wrap: wrap;
  } */
}

@media only screen and (max-width: 900px) {
  .fa-user-circle {
    font-size: 45px;
  }

  .footer-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .footer-right {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 880px) {
  .body-title {
    font-size: 30px;
    margin: 0 20px;
  }
}

@media only screen and (max-width: 820px) {
  .footer-right {
    font-size: 15px;
  }

  .fab {
    margin-left: 30px;
  }

  .fa-instagram {
    margin: 0;
  }

  .copy-little {
    font-size: 15px;
  }
}

@media only screen and (max-width: 715px) {
  .title-services {
    font-size: 40px;
  }

  .text-services {
    font-size: 20px;
  }
}


@media only screen and (max-width: 590px) {
  .fa-user-circle {
    font-size: 40px;
  }
}

@media only screen and (max-width: 500px) {
  .fa-user-circle {
    font-size: 35px;
  }
}

@media only screen and (max-width: 480px) {
  .title-services {
    font-size: 30px;
  }

  .text-services {
    font-size: 15px;
  }
}

@media only screen and (max-width: 450px) {
  .img-middle-body {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    /* padding-top: 50px; */
  }

  .img-middle-center {
    margin: 70px 0;
  }

  .img-middle-left, .img-middle-center, .img-middle-right {
    width: 40%;
  }
}

@media only screen and (max-width: 420px) {
  .body-title {
    font-size: 25px;
    /* margin: 0 20px; */
  }

  .fab {
    font-size: 20px;
  }

  .copy-little {
    font-size: 13px;
  }

  .img-header {
    width: 80%;
  }

  .copy-little {
    margin-bottom: 20px;
  }

  /* .page-id-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .table{
    font-size: 1px;
  } */
  a.fancy, a.fancy:visited {
    background-image: none;
  }

  .footer-container {
    height: 100px;
    padding-top: 111px;
  }

  .box {
    padding: 0 20px;
  }

  .text-box {
    width: 100%;
  }

  .container {
    padding: 0 40px;
    margin-bottom: 31px;
  }
}

@media only screen and (max-width: 280px) {
  .fa-user-circle {
    font-size: 30px;
  }

  .img-header {
    width: 80%;
  }

  .body-title {
    font-size: 20px;
  }

  .title-services {
    font-size: 25px;
  }

  .text-services {
    font-size: 10px;
  }
}